<h2>Create Book</h2>

<form action="/books/create" method="POST">

  <label>Username:</label>
  <input type="text" name="username" />

  <label>Book name:</label>
  <input type="text" name="name" />

  <label>Book author:</label>
  <input type="text" name="author" />

  <label>Price:</label>
  <input type="number" name="price" />

  <button type="submit">Create Book</button>

</form>

{{#if errMsg}}
  <h2>{{errMsg}}</h2>
{{/if}}